.header {
  background-color: transparent;
  width: 100%;
  height: 70px;
  align-items: center;
  position: absolute;
  z-index: 100;
  top: 0px;
  border-bottom: 1px solid #fff;
  box-shadow: #FC0 1px 0 10px;
  & .container {
    align-items: center;
  }
  &.fixed {
    background-color: #1e1d1d;
    position: fixed;
    border-bottom: none;
    box-shadow: #1e1d1d 1px 0 10px;
  }

}
.header__alt {
  position: static;
  background-color: #1e1d1d;
  box-shadow: #1e1d1d 1px 0 10px;
}

.nav {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;

  &__link {
    display: block;
    // text-transform: uppercase;
    font-size: 26px;
    color: #FFF;
    &:hover {
      transition: 0.5s;
      color: #fff427;
      text-shadow: #FC0 1px 0 10px;
    }
  }
  &__logo {
    display: block;
    color: black;
    & img {
      height: 60px;
    }
  }
}

